<div class="row">
@for (student of students; track $index) {
  <div class="item p-1">
    <div class="card br-2 p-3" >
      <div class="row g-1">
        <div class="profile-circle text-center">
          {{student.name|slice: 0: 1 |uppercase}}
        </div>
        <div>
          <h2>{{student.name | capitalize |Concate:44 |titlecase}}</h2>
          <p class="m-1 light">{{student.email | lowercase}}</p>
        </div>
        <div class="ms-auto">
          <div class="profile-status light">{{student.status| uppercase }} </div>
        </div>
      </div>
      <div class="profile-info p-2 br-2 m-5">
        <div class="fs-p9">I born on <span class="bold" >{{student.dob| date: 'short':'Asia/kolkatha':'en-In'}}</span> I am a <span class="bold" >{{student.gender| i18nSelect:genderMessage }}</span></div>
        <div class="m-3 fs-p9">My EMCET Rank is<span class="bold">{{student.emcetRank |number:'1.0-0':'en-In'}}</span></div>
        <div class="m-3 fs-p9">you can ping me on <span class="bold">{{student.phone|phonesep}}</span></div>
        <div class="m-3 fs-p9"> Fee <span class="bold">{{student.yearlyFee| currency:'INR':'symbol':'1.0-2'}}</span></div>
        <div class="m-3 fs-p9">Aggregate <span class="bold"> {{student.aggregate/10| percent}}</span></div>
      </div>
      <div class=" text-right m-3 p-1 light fs-p9">
        {{student.backlogs | i18nPlural: backlogsMessage}}
      </div>
      <div class=" text-right m-1 p-1 light fs-p9">{{ student.pasttime | datediffer}}</div>
      <div class="row">
        @for (mark of student.marks | keyvalue; track $index) {
        <div class="item p-1 ">
          <div class="card p-1 br-2 bg-light-primary">
            <div class="fs-p8">{{mark.key}}</div>
            <div class="font-bold">{{mark.value}}
          </div>
        </div>
      </div>      
    }
      </div>
    </div>
      
  </div>
  
}
</div>