.card{
    width: 300px;
    margin: 100px auto;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-img{
    position: relative;
    /* padding: 8px; */
}
.card-img img{
    width: 300px;
    border-radius: 16px;
}
.badge {
  position: absolute;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  color: white;
}
.promoted{
    top: 10px;
    left: 10px;
    background:  rgb(212, 212, 212,.7);
    border-radius: 10;
    color: black;
}
.offer{
    bottom: 20px;
    left: 0px;
    background: rgb(93, 93, 202);
    border-radius: 0;

}
.time{
    bottom: 20px;
    right:2px;
    background: rgb(212, 212, 212,0.7);
    color: black;
}
.card-content{
    padding: 5px;
}
.card-content h1{
    font-size: 18px;
    margin: 0%;
}
.card-content p{
    font-size: small;
    font-weight: 50;
    margin: 5px 0 12px;
    margin: 0%;
}
.footer {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 11px;
  color: black;
  font-weight: 200px;
  border-top: 1px solid lightgray;
  padding-top: 1px;
}
.footer img{
    height: 28px;
}