*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    position: relative;
    margin: 100px auto;
    width: 350px;
    /*  border: 1px solid lightgray; */
}
.img1{
    width: 100%;
}
.img2{
    width: 30%;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    right: 125px;
}
.name{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
.desi{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}