*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color: #3b0f05 ;
    --text-color: rgb(7,7,7);
    --bg-btn: #975a37;
    --text-btn: #ffffff;
    --border-color: lightgray;

}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
}
.flex-item{
    width: 40%;
}
.image-container{
    padding: 100px 50px;
    width: 100%;
}
.full-width-img{
    width: 100%;
    margin: 100px;
    border-radius: 14px;
}
.card{
    border-radius: 14px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 4px var(--border-color);
}
.card-heading{
    font-size: 25px;
}
.text-center{
    text-align: center;
}
.p-1{
    padding: 20px;
}
.p-2{
    padding: 40px;
}
.p-3{
    padding: 60px;
}
.p-4{
    padding: 80px;
}
.p-5{
    padding: 100px;
}
.m-1{
    margin: 20px;
}
.m-2{
    margin: 40px;
}
.m-3{
    margin: 60px;
}
.m-4{
    margin: 80px;
}
.m-5{
    margin: 100px;
}
.mb-20{
    margin-bottom: 5px;
}
.mt{
    margin-top: 5px;
}
.form-item{
    position: relative;
}
.input{
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 14px;
}
.input-lable{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}
.input-end-icon{
    position: absolute;
    top: 75%;
    right: 10px;
    transform: translateY(-50%);
}
.input-start-icon{
    position: absolute;
    top: 75%;
    left: 10px;
    transform: translateY(-50%);
}
.ps-10{
    padding-left: 30px;
}
.btn{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 14px;
    margin-top: 15px;
}
.btn-primary{
    background-color: var(--bg-btn);
    color: var(--text-btn);
}
.nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.logo-img{
    width: 100%;

}
.nav-left{
    display: flex;
}
.nav-right{
    display: flex;
}
.nav-items{
    display: flex;
    list-style: none;
}
.nav-item{
    padding: 10px;
    border-right: 1px solid var(--text-btn);
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item-right{
    padding: 10px;
    border-left: 1px solid var(--text-btn);
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    color: var(--text-btn);
    font-size: 15px;
}