.card{
    width: 300px ;
    margin: 200px auto;
    border: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img1{
    width: 300px;
    position: relative;

}
.img2{
    position: absolute;
    width: 100px;
    top:325px;
    border-radius: 50px;
    left: 280px;
}
.name{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;

}
.tag{
    text-align: center;
    top: 400px;
    margin-top: 5px;
}