.card{
    width: 600px;
    margin: 100px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px gray;

}
.card-img{
    width: 600px;
    border-radius: 16px;
}
.card-heading{
    font-size: 25px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    position: absolute;
    top:250px;
    left: 100px;
    color: yellow;
    text-align: center;
    /* width: 100%; */

}