.card{
    width: 300px;
    padding: 0%;
    overflow: hidden;
    margin: 200px auto;
    /* border: 1px solid lightgray; */
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    margin: 100px auto;
    width: 300px;
    position: relative;
    border-radius: 15px;
}
.card-content{
    position: absolute;
    top: 300px;
    color: white;
    text-align: left;
    font-size: 15px;
    bottom: 10px;
}
.hyd{
    margin-top: 20px;
    
}
.places{
    margin-top: 5px;
}