.card{
    margin: 100px auto;
    width :500px;
    height: 700px;
    position: relative;
}
.img{
    width: 100%;
    height: 100%;
}
.card2{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgb(0, 0, 0, .7);
    top: 70px;
    left: 20px;
    padding: 50px;
    color: white;
}
.email{
    padding: 15px;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0, .8);
    border-radius: 8px;
    width: 350px;
    margin-bottom: 20px;
}
.fp{
    margin-top: 0%;
    text-align: center;
}
.signin{
    padding: 12px;
    border: 1px solid gray;
    background-color: rgba(247, 5, 5);
    color: white;
    border-radius: 8px;
    width: 380px;
    margin-bottom: 20px;
}
.checkbox{
    margin-top: 90px;
    font-size: 20px;
}
.flex{
    display: flex;
}
.signupnow{
    color: white;
    margin-top: 14px;
}