*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 700px;
    margin: 100px auto;
    position: relative;
    background-color: gray;
    border: 1px solid lightgray;
}
.img{
    width: 100%;
}
.pop1{
    background-color: rgb(0, 0, 0,.6);
    position: absolute;
    font-size: 12px;
    top: 110px;
    padding: 10px;
    color: white;
}
.head{
    font-size: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.para{
    font-size: 12px;
    font-weight: 200;
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.place{
    font-size: 11px;
    margin-top: 10px;
}
.pop2{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
}
.tag{
    display: flex;
}
.tag1{
    background-color:  rgb(0, 0, 0,.6);
    border-radius: 16px;
    padding: 5px;
    text-align: center;
    top:100px
}
.tag2{
    background-color: rgb(0, 0, 0,.4); 
    /* border: 1px solid rgb(0, 0, 0,.4); */
    border-radius: 50%;
    padding: 5px;
    color: white;
    margin-left: 20px;
}