.card{
    margin: 100px auto;
    width: 600px;
}
.header{
    width: 100%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 15px lightgray;
}
.img{
    width: 100%;
    border-radius: 15px;
}
.head{
    position: absolute;
    top: 10px;
    width: 600px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    /* font-style: calc(); */
}
.price{
    position: absolute;
    bottom: 1px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.h1{
    color: rgb(63, 60, 60);
    /* background-color: aqua; */
    margin-top: 10px;
}
.time{
    font-size: 30px;
    font-weight: bold;
    /* background-color: black; */
    margin-top: 20px;
}
.bi-star{
    margin-top: 20px;
    
}
.menu{
    font-size: 25px;
    margin-top: 10px;
    color: gray;
    font-family: 400px;
}
