*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    margin: 100px auto;
    width: 300px;
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: rgb(250, 248, 248);
}
.header{
    padding: 10px;
}
.icon{
    font-size: 15px;
    margin-left: 95%;
}
.h1{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 20px;
    margin-left: 10px;
}
.p1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.btn{
    padding: 8px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 25px;
    font-weight: 500;
}
.footer{
    width: 300px;
    /* margin-left: 80px; */
    /* background-color: red; */
    margin-bottom: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: rgb(94, 94, 168); */
    background-image: linear-gradient(to right, rgb(97, 96, 194), rgb(202, 89, 197));
}
.text{
    display: flex;
    color: white;
    /* background-color: red; */
    margin-left: 145px;
    border-bottom-right-radius: 15px;
    padding: 8px;
}
.h2{
    font-size: 20px;
    margin-right: 3px;
}  
.p2{
    font-size: 18px;
    font-weight: 20px;
}
