.card{
    margin: 100px auto;
    width: 600px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 15px;
    
}
.card-content{
    position: absolute;
    font-size: 25px;
    color: white; 
    top: 100px;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 30px;
}
.p{
    font-size: 20px;
}
.btn{
    border-radius: 12px;
    padding: 10px;
    color: black;
    bottom: 50px;

}