
.card {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid lightgray ;
    width: 600px;
    margin: 100px auto;
    border-radius: 16px;
}
.card-img{
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.card-body{
     padding: 30px;
}
.card-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.card-heading{
     margin: 30px 0;
     font-size: 50px;
     font-weight: 200;
}
.card-text{
    font-size: 18px;
}
.card-link{
    margin-top: 30px;
    display: block;
    text-align: center;
    width: 200px;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
    border: 1px solid lightgray;
    font-size: 20px;
}
